header {
  
  title {
    display: block;
    text-align: center;
    font-size: $title-size;
    margin: 10px 0;
    color: $title-color;
  }
  
  nav {
    font-size: $nav-size;
    
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    li { display: inline-block; }

    a {
      @include border-radius($nav-radius);
      border: 1px solid;
      display: block;
      padding: 6px 12px;
      margin: 0px 5px;
      text-decoration: none;
      color: cadetblue
    }
    
  }
  
}
