%message-shared {
  @include border-radius($messages-radius);
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}